<html>
<head>
    <link rel="stylesheet" href="static/style.css">
</head>

<h1 align="center">
    Welcome
</h1><br><br><br>
<p align="center">
    Click below button for managing Amazon EC2 instances
</p><br>
<div class="button1">
<form action="/ec2fun" align="center">
    <input type="submit" value="Amazon EC2">
</form>
</div>
<div class="button2">
    <form action="/s3fun" align="center">
        <input type="submit" value="Amazon S3">
    </form>
</div>
<!-- <div class="button1">
    <form action="/ec2fun" align="center">
        <input type="submit" value="Amazon EC2">
    </form>
</div> -->
</html>